/*comm*/
.clearfix{ clear: both;}
.fadeOut{ display: none;}
.fadeIn{ display: block}
.visiOut{ visibility: hidden}
.visiIn{ visibility: visible}

.f10{ font-size: 10px;}
.f11{ font-size: 11px;}
.f12{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size:16px;}
.f20{ font-size:20px;}
.f24{ font-size:24px;}
.f26{ font-size:26px;}

.marg-b-8{ margin-bottom: 8px !important;}
.marg-b-20{ margin-bottom: 20px !important;}
.padd-1{  padding: 1em; }
.padd-t-5{  padding-top: 5em; }

.text-title{color:#333}
.text-item{color: #666;}
.text-advantage{color:#ff4040}
.text-white{ color: white;}
.text-homehelp{ color:#888888;color:rgba(255,255,255,0.4);}
.over-hidden{ overflow: hidden;}

.text-left{text-align: left}
.text-right{ text-align: right}

.text-nowrap{ white-space: nowrap; text-wrap: none}
.line-hieght-1{ line-height: 1em}
.line-hieght-2{ line-height: 2em}
.line-hieght-3{ line-height: 3em}
.line-hieght-4{ line-height: 4em}
.line-hieght-5{ line-height: 5em}

.bd-transparent{border-color: transparent;-webkit-box-shadow:none}
.bd-radius-none{ border-radius: 0 !important;}
.bg-transparent{ background-color: transparent}

.imgfix{ width: 100%}
.imgfixEver{ width: 100%}
/*animation*/
.transition{ transition:all 1s;}
.transition-delay-1{ transition-delay: 0.5s;}
.transition-delay-2{ transition-delay: 1s;}
.transition-delay-3{ transition-delay: 1.5s;}

/*
@viewport
{
    zoom: 1.0;
    width: 1280px;
}
@-ms-viewport
{
    width: 1280px;
    zoom: 1.0;
}
*/



@keyframes moveTop {
    0%{opacity: 0; top:366px}
    100%{opacity: 1; top:0px}
}
@keyframes moveBottom {
    0%{top:366px;opacity: 0}
    100%{top:0; opacity: 1}
}
@keyframes moveLeft {
    0%{opacity: 0; left:-3000px}
    100%{opacity: 1; left:0px}
}
@keyframes moveRight {
    0%{opacity: 0; right:-3000px}
    100%{opacity: 1; right:0px}
}
@keyframes fadeIn {
    0%{ opacity: 0;}
    100%{ opacity: 1}
}
@keyframes fadeOut {
    0%{ opacity: 1}
    100%{ opacity: 0}
}
@keyframes slideUp {
    0%{ opacity: 1}
    100%{ opacity: 0}
}

.animation-delay-1{animation-delay: 0.5s;}
.animation-delay-2{animation-delay: 1s;}
.animation-delay-3{animation-delay: 1.5s;}
.animation-delay-4{animation-delay: 2s;}
.animation-delay-5{animation-delay: 2.5s;}

.animation-duration-1{ animation-duration: 0.5s}
.animation-duration-2{ animation-duration: 1s}
.animation-duration-3{ animation-duration: 1.5s}
.animation-duration-4{ animation-duration: 2s}
.animation-duration-5{ animation-duration: 2.5s}
/**/
.kmjr-home{ font-family: 'Microsoft YaHei', arial, helvetica, sans-serif; }
.kmjr-container{}
.kmjr-container-action{ width: 1024px;}
/*header*/
.k-h-header{ padding: 45px 0;}
/*section a*/
.k-h-section-a{ background-color:#0a90e2;position: relative;}
.section-a-edge{background: url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_bg_block01a.png') left bottom no-repeat;}
.sec-a-p1{padding: 10px 30px; margin-top: 3em; margin-bottom: 8em}
.sec-a-p1>span{ background-color: white; font-size: 24px;color: #0099cc;padding: 2px 1em;}
.sec-a-down{padding-top:160px; min-width: 340px}
a.btn-homedown{ width: 100%; margin-top: 10px; margin-bottom: 10px; display: block}
a.btn-homedown,a.btn-homedown:visited{ background-color: transparent }
a.btn-homedown:hover,a.btn-homedown:active{ opacity: 0.91}
.sec-a-sqrl{ float: left; width: 150px}
.sec-a-sqrr{ float: left; width: 190px; text-align: center;}
.sec-a-phone{ overflow: hidden; position: relative;height: 366px}
.img{ left: 20%;  top:0px;  position: absolute;  animation: moveTop 1s; }

/*section b*/
.k-h-section-b{ margin-top: 2em}
.section-b-p{ animation-name: moveLeft; animation-duration: 1s; position: relative}
.thumbnail-b{ animation-name: fadeIn;}
.section-row-b{  height: 290px}
    /*section c*/
.k-h-section-c{ background:#464646 url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_bg_block01.png') center top repeat-x; height: 249px; margin-top: 3em}
/*section d*/
.k-h-section-d{ margin-top: 2em;}
.sec-d-advantage{ padding-top: 5em;}
.sec-d-report{ }
.sec-d-pin{ position: absolute; left:80px;bottom:180px;}
.sec-d-pin-act{ animation-name: fadeIn; position: absolute; left:80px;bottom:180px;}
.k-h-point{ background: url('../images/kmjrWeb/default/kmjr-default_bg_point.gif') center 18px  no-repeat; display: inline-block; width: 10px;height: 26px}
/*section e*/
.k-h-section-e{margin-top: 2em; background-color: #ff6464; padding-top: 1em}
.sec-d-rate{ font-size: 62px;color:#666666}
.sec-d-rate-edge{background: url('../images/kmjrWeb/default/kmjr-default_bg_num.png') center top no-repeat; height: 88px;width: 598px; margin: 0 auto;position: relative}
span.rate-unit{position: absolute;text-align: center; display: block; width:50px; font-family: Arial; height: 90px; line-height: 90px}
span.rate-wan{left:0px;}
span.rate-qian{left:59px}
span.rate-bai{left:134px}
span.rate-shi{left:191px}
span.rate-yuan{left:246px}
span.rate-jiao{left:322px}
span.rate-fen{left:379px}
span.rate-li{left:435px}
span.rate-hao{left:492px}
span.rate-si{left:548px}
.sec-d-sendGold{ color:white;margin:3em 0 2em;}
a.btn-sendGold{color:white;border:1px solid white; padding:10px 12px; border-radius:3px; text-decoration: none; font-size: 22px; cursor:default}
/*section f*/
.k-h-section-f{ margin-top: 2em;}
@keyframes bgAnimation {
    0%{ background-size: 0 0;}
    20%{ background-size: 100% 10%}
    100%{ background-size: 100% 100%; }
}
.sec-f{ background-repeat:no-repeat; background-position:left bottom;animation-name: bgAnimation; animation-duration: 3s; animation-delay: 0s ; background-size: 100% 100%}
.sec-f-1{ /*background-color:#fe706f;*/background-image:url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_bg_red.gif');}
.sec-f-2{ /*background-color:#34cc99;*/background-image:url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_bg_green.gif');}
.sec-f-3{ /*background-color:#00b3f5;*/background-image:url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_bg_blue.gif');}
.sec-f-4{ /*background-color:#face49;*/background-image:url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_bg_yellow.gif');}
.sec-f-5{ /*background-color:#c9c9c9;*/background-image:url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_bg_gray.gif');}


/*section g*/
.k-h-section-g{  background:#fed71a url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_bg_block05.png') center top no-repeat; height: 250px; margin-top: 3em}
/*section h*/
.section-h-row{height: 264px}
.k-h-section-h{ margin-top: 2em}

/*section i*/
.k-h-section-i{  margin-top: 2em;background-color: #1569b1; padding:3em 0 2em}
.k-h-section-i img{ margin: 10px; text-align: center}
/*section j*/
.section-j-row{height: 268px}
.k-h-section-i{  margin-top: 2em;background-color: #1569b1; padding:3em 0 2em}

/*section k*/
.k-h-section-k{  margin-top: 2em;background: #000000 url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_bg_block04.png') center top no-repeat; height: 286px}

/*section o*/
.k-h-section-o{ background-color: #2e2e2e; padding-bottom: 3em}
.btn-feedback{background-color: #ff4040; color: white; font-size: 20px; border-radius: 0; border-color: transparent}
.btn-feedback:hover{color:white; background-color: #ff1010}
.sec-o-pl,.sec-o-pp,.sec-o-qq{ background: transparent url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_icon_addr.png') left center no-repeat; padding:5px 0 5px 2em;}
.sec-o-pp{ background-image: url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_icon_tel.png');}
.sec-o-qq{ background-image: url('http://statics.aijialicai.com.cn/CDN/web/public/images/default/kmjr-default_icon_qq.png');}

.form-group{ position: relative}
label.error{position:absolute; left:0; top: -24px; background-color:darkred; color: #fff; font-size: 14px;z-index: 99; padding:2px 10px; border-radius: 5px;}
/**/
.k-h-footer{ background-color:#232323; color: #fff; font-size: 14px; padding-top: 1em; padding-bottom: 1em;}
.p-footer-copyright{ padding-top: 1em; padding-bottom: 1em}
.k-h-footer img{ margin: 0 10px}