
@import "scss/kmjr.comm.hacker";
@import "scss/kmjr.comm.font";
@import "scss/kmjr.comm.padding";
@import "scss/kmjr.comm.marging";
@import "scss/kmjr.comm.color";
@import "scssMin/kmjr.comm.reset";

$sf-yellow:#ffdb11;
$sf-lightYellow:#fff4da;
$sf-red:#e73a33;
$sf-darkred:#d33737;
.text-sf-yellow{ color: $sf-yellow}
.sf-body{
  background-color: $sf-red;
}
.sfq-body{
  background-color: $sf-lightYellow;
  overflow: hidden;
}
.sf-info{
  padding-left: $em1;
  padding-right:$em1;
}
.btn-share{
  @extend .text-h2;
  background-color: $sf-yellow;
  color: $sf-red;
  text-decoration: none;
  width: $per100;
  padding-top: $px8;
  padding-bottom: $px8;
  display: block;
  border-radius: $px10;
}
.sf-tit{
  margin-top: $em1  ;
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 1;
}
.sf-tit:before{
  content: '';
  height:1px;
  box-shadow: inset 0 0 1px $white;
  position: absolute;
  width: 100%;
  top:$per1*50;
  left:0;
  z-index: 2;
}
.text-sf-tit{
  background-color: $sf-red;
  color: $white;
  padding-left: $em1;
  padding-right:$em1;
  position: relative;
  z-index: 3;
}

.sf-table{}
.sf-table table{
  border-left:1px solid $sf-yellow;
  border-right:1px solid $sf-yellow;
  border-top:1px solid $sf-yellow;
  color: $black;
}
.sf-table table tr th{
  background-color:$sf-yellow ;
  padding-top:$px6;
  padding-bottom: $px6;
}
.sf-table table tr td{
  background-color:#fdfdcd ;
  border-bottom: 1px solid $sf-yellow;
  padding-top:$px6;
  padding-bottom: $px6;
}
.sf-table-more{
  background-color: $sf-yellow;
  padding-top: $px2;
  padding-bottom: $px2;
}
.sf-copyright{
  background-color: $sf-darkred;
}

/**/
.sfq-info-q{
  position: absolute;
  width: 100%;
  height:100%;
  left: 0;
  top:0;
  z-index: 0;
}
.sfq-nick{
  margin-left: $em3;
  margin-right: $em3;
  background: url('../images/kmjrApp/shareFriend/sfq_angle.png') center top no-repeat;
  background-size: 100%;
  position: relative;
  top:$em3_5;
}
.sfq-nick img{
  border-radius: 999px;
  border:$px3 solid $sf-yellow;
  height: 40px;
  width: 40px;
}

.sfq-items{
  position: relative;
  top:$em3_5;
  text-align: center;
}

.sfq-ipt-circle{
  @extend .text-normal-min;
  @extend .text-nowarp;
  border-radius: 99px;
  text-align: center;
  border:1px solid transparent;
  width: 60%;
  padding:$px5 $px8;
  margin-top: $em0_5;

}
.sfq-ipt-circle::-webkit-input-placeholder{
  text-align: center;
}
.sfq-ipt-circle-short{
  @extend .sfq-ipt-circle;
  width: 30%;
}
.sfq-btn-circle{
  @extend .sfq-ipt-circle;
  width: 28%;
  background-color: $sf-yellow;
}
.sfq-btn-circle-long{
  @extend .sfq-ipt-circle;
  width: 64%;
  background-color: $sf-yellow;
}
.sfq-more{
  position: relative;
  z-index: 2;
}
.sfq-more img{
  background-color: $red;
  height: $px1*15;
  width: $px1*15;
  padding:$px1*10;
  border-radius: $px1*20;
}
.sfq-dialog-bottom{
  background-color: #f6e4b8;
}
.sfq-dialog{
  width: 100%;
  height:100%;
  position: fixed;
  bottom:0;
  left: 0;
  display: none;
  z-index: 3;
}
.close-dialog{
  position: absolute;
  right: $em1;
  top: 0;
}