/**/
.bg-wihte{ background-color: white !important;}
.bg-black{ background-color: black !important;}
.bg-red{ background-color: #ff4040 !important;}
.bg-gray{ background-color: #f2f2f2 !important;}
.bg-blue{ background-color: #0099e5 !important;}
.bg-yellow{ background-color: #FEF492 !important;}

/**/
.text-white{ color: white !important;}
a.text-white{ color: white}
.text-red{ color:#ff4040}
a.text-red{ color: #ff4040}
.text-tips{ color:#999999}
a.text-tips{ color:#999999}
.text-subtitle{ color:#666666}
a.text-subtitle{ color:#666666}
.text-blue{ color:#0099e5}
a.text-blue{ color:#0099e5}
.text-orange{ color:#ff610c}
a.text-orange{ color:#0099e5}
.text-yellow{color:#ff9000}
a.text-yellow{color:#ff9000}

/**/
