/*hacker*/
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;clear:both}
body{font-family:'Microsoft YaHei',arial,helvetica,sans-serif;-webkit-text-size-adjust:none;color:#333; background:#ebebeb;-webkit-text-size-adjust:none;min-width:320px;font-size:1em;line-height: 1.5}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}*/
*{text-shadow: none;font-weight:normal !important; color:#555; font-family: 'Microsoft YaHei', arial, helvetica, sans-serif; }
*,*:hover,*:focus,*:visited{ -webkit-box-shadow:none !important; -moz-box-shadow:none !important;box-shadow: none !important; font-weight: normal}
@font-face {
    font-family: 'fzlth';
    /*src:url('../fonts/fzltxhGBK.TTF');
    src:url('../fonts/fzltxhGBK.TTF')\9;*/
}
.img-block{ display: block}

.fadeIn{ display: block}
.fadeOut{ display: none}

a{ text-decoration: none}
a:hover{ text-decoration: none}

.p-relative{ position: relative}
.img-rel-top-3{ position: relative; top:3px;}
.img-rel-top-4{ position: relative; top:4px;}
.img-rel-top-5{ position: relative; top:5px;}

.bg-wihte{ background-color: white !important;}
.bg-red{ background-color: #ff4040 !important;}
.bg-gray{ background-color: #f5f5f5 !important;}
.bg-blue{ background-color: #0099e5 !important;}
.bg-yellow{ background-color: #FEF492 !important;}

.text-white{ color: white !important;}
a.text-white{ color: white}
.text-red{ color:#ff4040}
a.text-red{ color: #ff4040}
.text-tips{ color:#999999}
a.text-tips{ color:#999999}
.text-subtitle{ color:#666666}
a.text-subtitle{ color:#666666}
.text-blue{ color:#0099e5}
a.text-blue{ color:#0099e5}
.text-orange{ color:#ff610c}
a.text-orange{ color:#0099e5}

/**/
.text-left{ text-align: left;}
.text-right{ text-align: right;}
.text-center{ text-align: center;}
.text-nowarp{ white-space: nowrap; word-break: keep-all;}

.f10{ font-size: 10px;}
.f12{ font-size: 12px;}
.f13{ font-size: 13px;}
.f14{ font-size: 14px;}
.f15{ font-size: 15px;}
.f16{ font-size: 16px;}
.f17{ font-size: 17px;}
.f18{ font-size: 18px;}
.f19{ font-size: 19px;}
.f20{ font-size: 20px;}
.f24{ font-size: 24px;}
.f30{ font-size: 30px;}
.f40{ font-size: 40px;}
.f48{ font-size: 48px;}

.f1em{ font-size: 1em;}
.f1_5em{ font-size: 1.5em;}
.f2em{ font-size: 2em;}
.f2_5em{ font-size: 2.5em;}
.f3em{ font-size: 3em;}
.f3_5em{ font-size: 3.5em;}
.f4em{ font-size: 4em;}
.f4_5em{ font-size: 4.5em;}
.f5em{ font-size: 5em;}
.f5_5em{ font-size: 5.5em;}
.f6em{ font-size: 6em;}


.lineheight-1{line-height: 1em}
.lineheight-1_5{line-height: 1.5em}
.lineheight-2{line-height: 2em}
.lineheight-3{line-height: 3em}

.padding-0{ padding:0 !important;}
.padding-top-0{ padding-top:0 !important;}
.padding-right-0{ padding-right:0 !important;}
.padding-bottom-0{ padding-bottom:0 !important;}
.padding-left-0{ padding-left:0 !important;}

.padding-0_5{ padding:.5em !important;}
.padding-top-0_5{ padding-top:.5em !important;}
.padding-right-0_5{ padding-right:.5em !important;}
.padding-bottom-0_5{ padding-bottom:.5em !important;}
.padding-left-0_5{ padding-left:.5em !important;}

.padding-1{ padding:1em}
.padding-top-1{ padding-top:1em}
.padding-right-1{ padding-right:1em}
.padding-bottom-1{ padding-bottom:1em}
.padding-left-1{ padding-left:1em}

.padding-2{ padding:2em}
.padding-top-2{ padding-top:2em}
.padding-right-2{ padding-right:2em}
.padding-bottom-2{ padding-bottom:2em}
.padding-left-2{ padding-left:2em}

.margin-0{ margin:0}
.margin-top-0{ margin-top:0}
.margin-right-0{ margin-right:0}
.margin-bottom-0{ margin-bottom:0}
.margin-left-0{ margin-left:0}

.margin-0_5{ margin:.5em}
.margin-top-0_5{ margin-top:.5em}
.margin-right-0_5{ margin-right:.5em}
.margin-bottom-0_5{ margin-bottom:.5em}
.margin-left-0_5{ margin-left:.5em}

.margin--1{ margin:-1em}
.margin-top--1{ margin-top:-1em}
.margin-right--1{ margin-right:-1em}
.margin-bottom--1{ margin-bottom:-1em}
.margin-left--1{ margin-left:-1em}

.margin-1{ margin:1em !important}
.margin-top-1{ margin-top:1em !important}
.margin-right-1{ margin-right:1em !important}
.margin-bottom-1{ margin-bottom:1em !important}
.margin-left-1{ margin-left:1em !important}

.margin-2{ margin:2em}
.margin-top-2{ margin-top:2em}
.margin-right-2{ margin-right:2em}
.margin-bottom-2{ margin-bottom:2em}
.margin-left-2{ margin-left:2em}

.margin-p1{ margin:1%}
.margin-top-p1{ margin-top:1%}
.margin-right-p1{ margin-right:1%}
.margin-bottom-p1{ margin-bottom:1%}
.margin-left-p1{ margin-left:1%}

.margin-p2{ margin:2%}
.margin-top-p2{ margin-top:2%}
.margin-right-p2{ margin-right:2%}
.margin-bottom-p2{ margin-bottom:2%}
.margin-left-p2{ margin-left:2%}

.border-none{ border:none; border-color: transparent}
.border-top-none{ border-top:none;border-top-color: transparent}
.border-right-none{ border-right:none;border-right-color: transparent}
.border-bottom-none{ border-bottom:none;border-bottom-color: transparent}
.border-left-none{ border-left:none;border-left-color: transparent}

.border-top-1-solid{ border-top:1px solid #dcdcdc !important;}
.border-left-1-solid{ border-left:1px solid #dcdcdc !important;}
.border-bottom-1-solid{ border-bottom:1px solid #dcdcdc !important;}
.border-bottom-1-dashed{ border-bottom:1px dashed #dcdcdc !important;}
.border-bottom-1-transparent{ border-bottom:1px solid transparent !important;}

.ui-info-alert{ background-color:#ffffaa;color:#ff4040 !important; font-size: 12px; padding:.5em }
/**/
.clearfix:after{ clear: both}
.clearfix:after{ display: block;content: '';}
:after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}

.ui-btn-default{background-color:#ff4040;border-radius: 5px;  display: block; width: 80%; margin:0 auto; border-width: 0 !important;color:#fff !important; padding: .5em}
.ui-btn-default-radius{background-color:#ff4040;border-radius: 9999px;  display: block; width: 80%; margin:0 auto; border-width: 0 !important;color:#fff !important; padding: .5em}
.ui-btn-stages{background-color:#0099e5;border-radius: 5px;  display: block; width: 80%; margin:0 auto; border-width: 0 !important;color:#fff !important; padding: .5em}
/**/
.bg-gray .ui-page{ background: #f5f5f5}
.km-body{background-color: #f2f2f2;padding-bottom: 58px;}
.km-body .ui-page{ background-color: #f2f2f2}
.km-content{}
/**/
.stages-block{ width: 47%; float: left; border-radius: 3px;min-height:175px; margin-left: 2% ;margin-top: 2%;  }
.ui-kmjr-stageGroup .ui-controlgroup-horizontal{ width: 100%; margin: 0}
.ui-kmjr-stageGroup .ui-controlgroup-controls{ width: 100%}
.ui-kmjr-stageGroup .ui-radio{ width: 50%; }
.ui-kmjr-stageGroup .ui-radio label{ text-align: center;font-size: 14px ; background-color: white}
.ui-kmjr-stageGroup .ui-radio:last-child label{ border-left-width: 0}
.ui-kmjr-stageGroup .ui-radio label.ui-btn-active{ border:1px solid #0099e5; color:#333; background-color: white; background-image:url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-stages-lan_danxuan@3x.png'); background-size: 12px; background-repeat: no-repeat; background-position: right bottom;}
.ui-kmjr-stageGroup .ui-input-text{ margin:-1px 0 0}
.ui-kmjr-stageGroup .ui-input-text input{padding: .7em 1em;}
.ui-kmjr-stageActive{ padding-left: 1em;padding-right: 1em}
.ui-kmjr-stages-items .ui-kmjr-stageActive{ padding-left:0; padding-right:0}
.ui-kmjr-stageActive .ui-controlgroup-controls{ width: 100%}
.ui-kmjr-stageActive .ui-radio{ width: 100%;}
.ui-kmjr-stageActive .ui-radio label{ text-align: center; font-size: 12px}
.ui-kmjr-stageActive .ui-radio label.ui-btn-active{ border:1px solid #0099e5; color:#333; background-color: white; background-image:url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-stages-lan_danxuan@3x.png'); background-size: 12px; background-repeat: no-repeat; background-position: right bottom;}

/*.wx-pin span{ letter-spacing: -10px; word-spacing: 0px}*/
.wx-pin span.f48 span{white-space:nowrap; letter-spacing: -17px; word-spacing: 0px; color:#ff4040}
.wx-pin span.f2em span{white-space:nowrap;letter-spacing:-12px; word-spacing: 0px; color:#ff4040}
/**/
.k-range{position: relative; overflow:hidden ; width: 100%}
.range-fixed{ height: 50px; margin: 0 auto; width: 1px; background-color: #ff4040;}
.range-scale{ background:url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/range-scale.png') left bottom repeat-x; background-size: 0.03%; position: absolute; left:-100000px; bottom: 0; height: 50px;width:50000%;}
.range-block{width: auto; display: table; text-align: center}
.range-block-base{text-align: center}
input.range-total{border:0; display: table-cell;text-align: center; padding: 0;margin: 0; background-color: transparent;width: 100%; min-width: 190px; line-height: inherit}
input.range-total:focus{ box-shadow: none; border-color: transparent}
.range-unit{display: table-cell; width:30%;text-align: right}
.range-unit-yuan{ display: table-cell; text-align: left; width: 30%}

/**/
.ui-banner-profile{ background: url("http://statics.aijialicai.com.cn/CDN/wap/Public/images/profile-home.jpg") left top no-repeat; background-size: 100%;}
.ui-avatar{ border-radius: 9999px;border:3px solid #999 }
.ui-kmjr>.ui-listview>.ui-li-has-icon>.ui-btn>img:first-child { top: .68em; max-height: 1.3em; max-width: 1.3em;  }
.ui-kmjr>.ui-listview>li{ font-weight: normal}
.ui-kmjr>.ui-listview>li>.ui-btn{ background-color: transparent; font-weight: normal}
.ui-kmjr>.ui-listview>li>.ui-btn:hover{ color:#333333; border-color:#d8d8d8; background-color: #ddd}
.ui-kmjr>.ui-listview>li>.ui-btn>.ui-li-count{ font-weight: normal}
.ui-kmjr .ui-listview .ui-btn-icon-right .ui-li-count{ border-color:transparent; background-color: transparent}

/**/
.ui-banner-stages{ background: url("http://statics.aijialicai.com.cn/CDN/wap/Public/images/banner-stages.png") left top no-repeat; background-size: 100%;}
/**/
.ui-kmjr .ui-slider-switch{ float: right;  border-radius: 9999px; background-color: #ffffff}
.ui-kmjr .ui-slider-switch .ui-btn-active{ background-color: #6fd865}
.ui-kmjr .ui-slider-switch .ui-slider-inneroffset .ui-btn{background-color: #ffffff;}
.ui-kmjr .ui-slider-lable{display: inline-block; float: left;margin:.8em .4em 0;font-size: 16px}
.ui-kmjr-form .ui-input-text{ border-color:transparent; margin: .26em .446em;}
.ui-kmjr-form-btn .ui-input-text { padding-right: 4.5em !important;}
.ui-kmjr-form .ui-input-text input{font-size: 16px !important; padding:0}
/**/
.ui-kmjr-corner .ui-input-text{border-radius: 5px;}
.ui-kmjr .ui-input-text{ border-top-left-radius: 5px; border-bottom-left-radius:5px; border-top-right-radius: 0; border-bottom-right-radius:0; overflow: hidden}
.ui-kmjr .ui-input-getCode{ margin:.5em 0;border: 1px solid #d8d8d8 ; border-left:0;border-bottom-right-radius: 5px;border-top-right-radius: 5px; margin:.5em 0;line-height: 1.6em;height:45px !important;}
.ui-kmjr .ui-btn-getCode{width: 100%; background-color: transparent;border:0px solid transparent; padding: .4em 0;color: #555;line-height: 1.6em;}
.ui-input-submit{margin:.5em 0}
.ui-btn-submit{width: 100%;background-color: #ff4040; color:#ffffff; padding: .4em 0;  line-height: 1.6em; height:45px; font:1.2em bold Arial; -webkit-border-radius: 5px;  -moz-border-radius: 5px;  border-radius: 5px;border:0; }
.ui-btn-submit:hover{ background-color:#ff2020 }
.ui-kmjr .ui-input-text input,
.ui-kmjr-corner .ui-input-text input{  height: 45px !important;line-height: 1.6em !important; font-size: 1em}

.ui-kmjr-list{ display: table; width: 100%}
.ui-kmjr-list .ui-kmjr-list-lable{ display: table-cell; font-size: 16px; vertical-align: middle;min-width: 3.5em;}
.ui-kmjr-list .ui-input-text{ border-color: transparent;padding: 0 .4em; margin: .226em  0 .226em .4em }
.ui-kmjr-list .ui-input-text input{font-size: 16px;padding: 0 .4em}
.ui-kmjr-list-auto .ui-input-text input{ height: auto !important;text-align: right}
.ui-kmjr-list-cross .ui-input-text input{ height: auto !important;margin-left:0 !important; padding-left: 0 !important;}
.ui-kmjr-list-unit .ui-input-text input{ padding-right: 45px;}

.stages-contact-href{position: absolute; right:1em; top:0; display: block;width: 50px; height: 100%; }
.stages-contact{ position: absolute; right:0em; top:.6em;}
/**/
.ui-kmjr .ui-controlgroup-controls{ width: 96%}
.ui-kmjr .ui-radio{ width: 100%}
.ui-kmjr .ui-radio .ui-btn{ text-align: center; font-weight: normal;color:#666;border-color:#d8d8d8}
.ui-kmjr .ui-radio .ui-btn.ui-btn-active{background-color: white; border-color:#ff4040;color: #ff4040}
/**/
.ui-kmjr .ui-select{}
.ui-kmjr .ui-select .ui-btn{ border-color:transparent; text-align: right; background-color: #fff; font-size: 16px; padding-top:.4em; padding-bottom: .4em;  font-weight: normal;color: #555 }
.ui-kmjr .ui-select-lable{display: inline-block; float: left;margin:.4em .4em 0;font-size: 16px}

/**/
.ui-kmjr .ui-listview-li{}
.ui-kmjr .ui-listview-li .ui-btn-icon-right:after{right:.7225em}
/**/
.ui-kmjr-search{}
.ui-kmjr-search-plugin{ margin: 0 -1em; padding:1px 1em;}
.ui-kmjr-search-plugin .ui-input-search input::-webkit-input-placeholder,
.ui-kmjr-search-plugin .ui-input-search input::-moz-placeholder{text-align: center}
.ui-kmjr-profile.ui-kmjr-search .ui-tabs-nav .ui-btn,
.ui-kmjr-profile.ui-kmjr-search .ui-tabs-active .ui-btn.ui-btn-active{ background-color: white; border-color: transparent}
.ui-page-theme-a .ui-kmjr-search-plugin .ui-btn{ border: 0}
.ui-kmjr-search .ui-input-search{ border-radius: 5px;}
.ui-kmjr-search .ui-select{ margin: 0;}
.ui-kmjr-search .ui-select .ui-btn{border-top-color: transparent; border-bottom: transparent; background-color: #fff}
.ui-kmjr-search .ui-listview{margin-top:0; }
.ui-kmjr-search .ui-listview>li>a.ui-btn{ /*border-top-color: transparent*/ background-color: #ffffff; font-weight: normal; font-size: 14px;}
.ui-kmjr-search .ui-listview>li>a.ui-btn:hover{ background-color: #f2f2f2}
.ui-kmjr-search .ui-listview>li>a:after{ /*border-top-color: transparent*/ background-color: transparent; background-image: none}
/**/
.ui-kmjr .ui-btn.ui-icon-carat-l{ background-color: transparent; border-color:transparent }
.ui-kmjr .ui-icon-carat-l:after{ background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-btn-lt.png'); background-size: 60%; background-position: center; background-color: transparent}
.ui-btn-icon-right:after{ background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-btn-gt.png'); background-size: 60%; background-position: center; background-color: transparent}
.ui-kmjr-icon-none .ui-btn-icon-right:after{ background-image: none}
.ui-kmjr .ui-icon-mail:after{ background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-mail.png'); background-size: 90%; background-position: center; background-color: transparent}
.ui-kmjr .ui-icon-mail-msg:after{ background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-mail-msg.png'); background-size: 90%; background-position: center; background-color: transparent}
.ui-kmjr .ui-icon-more:after{ background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-more.png'); background-size: 90%; background-position: center; background-color: transparent}
.ui-kmjr.ui-header .ui-btn-left,
.ui-kmjr.ui-header .ui-btn-left{background-color: transparent; border-color: transparent}
.ui-kmjr .ui-btn-right.ui-btn{ border-color: transparent; background-color: transparent}
.ui-kmjr-header-transparent.ui-header{ background-color: transparent !important; border:0}

.ui-kmjr-icon .ui-icon-delete:after,
.ui-icon-ajb:after,
.ui-icon-fenqi:after,
.ui-icon-baoxian:after,
.ui-icon-jia:after{ background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-nav-aijiabao.png'); background-size: 100%; background-position: center; background-color: transparent; border-radius: 0}
.ui-kmjr-icon .ui-icon-delete:after{background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-close@3x.png'); background-size: 60%}
.ui-icon-fenqi:after{background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-nav-fenqi.png');}
.ui-icon-baoxian:after{background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-nav-baoxian.png');}
.ui-icon-jia:after{background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-nav-jia.png');}
.ui-btn-active.ui-icon-ajb:after{background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-nav-aijiabao-action.png'); }
.ui-btn-active.ui-icon-fenqi:after{background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-nav-fenqi-action.png'); }
.ui-btn-active.ui-icon-baoxian:after{background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-nav-baoxian-action.png'); }
.ui-btn-active.ui-icon-jia:after{background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-nav-jia-action.png'); }
.km-footer .ui-footer .ui-btn{ background-color: white; border-color: transparent; text-shadow: none}
.km-footer .ui-footer .ui-btn-active{color: #ff4040; background-color: white; border-color: transparent}
/**/
.profile-ls-avatar{border-radius: 9999px;border:1px solid #f2f2f2;border-radius: 9999px;}

/*circle loading*/
.info-progress{}
.info-progress-msg{}
.progress-loading{ padding: 0.865em 0; background-color: #0099E5 }
.loading-circle{
    background-color:#ffffff;
    position:relative;
    border-top-left-radius: 999px;
    border-top-right-radius: 999px; 
    border-bottom-right-radius: 999px; 
    border-bottom-left-radius: 999px; 
    border-radius: 999px;
    background-clip: padding-box;
    border:1px #ffffff solid;
    width: 10em;
    height:10em;
    margin: auto
}
.loading-circle b:before, .loading-circle:after{
    overflow: hidden;
    content: '';
    line-height: 100%;
    color: #fffde8;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    position: absolute;
    font-weight: normal;
    left: 1%;
    top: 1%;
    width: 98%;
    height: 98%;
    background-color: #0099E5;
    border-top-left-radius: 999px; 
    border-top-right-radius: 999px; 
    border-bottom-right-radius: 999px; 
    border-bottom-left-radius: 999px;
    border-radius: 999px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    box-shadow: 0 0 3px rgba(183, 183, 183, 0.6);
}
.loading-circle:before{
    content: '资料完善度'
}
.loading-circle:before{
    z-index: 99;
    color: #0099E5;
    position: absolute;
    font-size: 12px;
    top:40px;
    left:48px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}
.loading-circle:after{
    z-index: 1;
}
.loading-circle b:before{
    z-index: 2;
}
.loading-circle b:after{
    z-index: 3;
}

.loading-circle b{ content: '资料完善度'}
.loading-circle b{ font-size: 2em;}

.loading-circle b:after{
    line-height: 100%; ;
    color: #0099E5;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    position: absolute;
    font-weight: normal;
    left: 8%;
    top: 8%;
    width: 84%;
    height: 84%;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height:3.25em ;
    font-size: 1.25em;
    box-shadow: 0 0 8px rgba(183, 183, 183, 0.9);
}

/*****/
.loading-circle-0 b:after{content:'0%'}
.loading-circle-20 b:after{content:'20%'}
.loading-circle-35 b:after{content:'35%'}
.loading-circle-40 b:after{content:'40%'}
.loading-circle-50 b:after{content:'50%'}
.loading-circle-55 b:after{content:'55%'}
.loading-circle-60 b:after{content:'60%'}
.loading-circle-70 b:after{content:'70%'}
.loading-circle-80 b:after{content:'80%'}
.loading-circle-90 b:after{content:'90%'}
.loading-circle-100 b:after{content:'100%'}
.loading-circle-0 b:before{background-image: linear-gradient(0deg, #fff, #fff);}
.loading-circle-20 b:before{ background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent),linear-gradient(-18deg, #ffffff 50%, #0099E5 50%, #0099E5);}
.loading-circle-35 b:before{ background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent),linear-gradient(36deg, #ffffff 50%, #0099E5 50%, #0099E5);}
.loading-circle-40 b:before{ background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent),linear-gradient(54deg, #ffffff 50%, #0099E5 50%, #0099E5);}
.loading-circle-50 b:before{ background-image: linear-gradient(90deg, #fff 50%, transparent 50%, transparent),linear-gradient(90deg, #ffffff 50%, #0099E5 50%, #0099E5);}
.loading-circle-55 b:before{ background-image: linear-gradient(108deg, transparent 50%, #0099E5 50%, #0099E5) ,linear-gradient(90deg, #fff 50%, transparent 50%, transparent);}
.loading-circle-60 b:before{ background-image: linear-gradient(126deg, transparent 50%, #0099E5 50%, #0099E5) ,linear-gradient(90deg, #fff 50%, transparent 50%, transparent);}
.loading-circle-70 b:before{ background-image: linear-gradient(162deg, transparent 50%, #0099E5 50%, #0099E5) ,linear-gradient(90deg, #fff 50%, transparent 50%, transparent);}
.loading-circle-80 b:before{ background-image: linear-gradient(198deg, transparent 50%, #0099E5 50%, #0099E5) ,linear-gradient(90deg, #fff 50%, transparent 50%, transparent);}
.loading-circle-90 b:before{ background-image: linear-gradient(234deg, transparent 50%, #0099E5 50%, #0099E5) ,linear-gradient(90deg, #fff 50%, transparent 50%, transparent);}
.loading-circle-100 b:before{}

.ui-kmjr-infobtn a:hover,.ui-kmjr-infobtn a.active{border-radius:3px;border:1px #0099E5 solid;-webkit-box-flex:1;-webkit-flex:1; background-color:#0099E5;color:#fff; text-decoration:none;}
.ui-kmjr-finbtn a:hover,.ui-kmjr-finbtn a.active{border-radius:3px;border:1px #ff4040 solid;-webkit-box-flex:1;-webkit-flex:1; background-color:#ff4040;color:#fff; text-decoration:none;}
.ui-kmjr-finbtn a.normal{border-radius:3px;border:1px #ff4040 solid;-webkit-box-flex:1;-webkit-flex:1; background-color:#fff;color:#ff4040; text-decoration:none;}

.border-bg-center{ width: 1px; background-color: #dcdcdc; height:1.8em; position: absolute; left: 0; top:1.35em}
.ui-kmjr-profile .ui-state-default{ position: relative; z-index: 0}
.ui-page-theme-a .ui-kmjr-profile .ui-state-default:after,
.ui-kmjr-profile .ui-tabs-nav li:after{content: '';width:0; height:15px; border-right:1px solid #ececec; position: absolute; left: 0; bottom: 4px; z-index: 99}
.ui-page-theme-a .ui-kmjr-profile .ui-tabs-nav li:first-child:after,
.ui-kmjr-profile .ui-tabs-nav li:first-child:after{border-right:1px solid transparent;}

.ui-kmjr-profile .ui-tabs-anchor{ border-bottom-color: #ececec;}
.ui-kmjr-profile .ui-state-default .ui-btn{ border-left-color: transparent;border-right-color: transparent;}
.ui-page-theme-a .ui-kmjr-profile  .ui-btn.ui-btn-active,
.ui-kmjr-profile .ui-tabs-active .ui-btn.ui-btn-active{ background-color: #f6f6f6; color:#ff4040;  border-left-color: transparent; border-right-color: transparent; border-top-color:#d8d8d8; border-bottom-color:#ececec }

.ui-kmjr-profile .ui-tabs-active .ui-btn.ui-btn-active{ position: relative; z-index: 0}
.ui-page-theme-a .ui-kmjr-profile  .ui-btn.ui-btn-active:after,
.ui-kmjr-profile .ui-tabs-active .ui-btn.ui-btn-active:after{content: '';width:24%; height:15px; border-bottom:2px solid #ff0000; position: absolute; left:38%; bottom: 0; z-index: 99}

.ui-dialog-contain-full{z-index:14; position:fixed;width: 100%}
.ui-kmjr-dialog-contain{width: 90%;left: 5%;top:10%; border:solid 1px #d8d8d8; background-color: #fff; position: fixed; border-radius: 5px;z-index:14}
.msg-dialog{position:fixed;z-index:12;width: 100%; height: 100%; top:0;}
.msg-dialog-bg,
.msg-dialog-bg-black{position:fixed;z-index:13;background-color: white; width: 100%; height: 100%; top:0}
.msg-dialog-bg-black{background-color: black; opacity: 0.8; }
.km-footer{ position:fixed; bottom: 0; left: 0; width: 100%}
.ui-kmjr-dialog-contain [class*=ui-block-]>.ui-btn{ margin-left:-1px;margin-right: 0; border-right-width:0; border-bottom-width: 0;}
.ui-kmjr-dialog-contain .ui-checkbox .ui-btn{ border-color: transparent !important; background-color: white !important;}
.ui-kmjr-dialog-contain .ui-checkbox .ui-btn.ui-checkbox-off:after{background-color: white; border:1px solid #666;border-radius: 0;opacity: 1}
.ui-kmjr-dialog-contain .ui-checkbox .ui-btn.ui-checkbox-on:after{background-color: white; border:1px solid #666;border-radius: 0;background-image: url('http://statics.aijialicai.com.cn/CDN/wap/Public/images/icon-select-on@3x.png');background-size: 100%; }
/*分期详情-slider*/
.stages-slider{position: absolute;height: 100%; width: 100%;z-index: 9;}
.stages-slider-bg{position: absolute; height: 100%; width: 100%; background-color: black; opacity: 0.8; z-index: 10;}
.stages-slider-img{position: absolute; height: 100%; width: 300%; z-index: 11; overflow: hidden; left: 0; top: 0}
.stages-slider-block{ width: 33.333%; padding-top:8%; display: inline-block; float: left; }
.stages-slider-img img{z-index:12; width:80%; padding:0 10px;}
.stages-slider-step{position: absolute;z-index: 13; width: 100%; bottom: 15% }
.stages-slider-step ul{ width: 100%; text-align: center; padding: 0; margin: 0}
.stages-slider-step ul li{ list-style: none;  display: inline-block}
.stages-slider-step ul li a,
.stages-slider-step ul li a.active{ display: inline-block;width: 6px; height: 6px; border-radius: 999px; background-color: white; overflow: hidden}
.stages-slider-step ul li a.active{background-color: #ff4040}
/**/
#table-border table{ border-top: 1px solid #d8d8d8;border-right: 1px solid #d8d8d8}
#table-border table td{ border-left: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8}